.color-card-copy-button {
  position: relative;
  background-color: #ffffff40;
  color: rgb(0, 0, 0);
  padding: 3px;
  right: 10px;
  cursor: pointer;
}
.color-card-copy-button-text {
  position: relative;
  top: -10px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.252);
}
