.color-card {
  margin: 0px 10px;
  padding: 5px;
  min-height: 30vh;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-button {
  align-self: center;
  margin: 5px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  width: 30%;
  min-width: 100px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.color-card-button-cancel {
  margin: 5px;
  font-size: 18px;
  height: 50px;
  font-weight: bold;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.color-card-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
}

.color-card-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.color-card-highlight {
  background-color: #ff0000;
  border: 3px solid #ff0000;
  box-shadow: 2px 2px 5px #000000;
  color: #000;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
.color-card-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.color-card-content h3 {
  display: inline;
}
