/* General styles for color cards */
.color-card {
  margin: 0;
  padding: 5px;
  min-height: 30vh; /* Set minimum height for color card */
  width: calc(33.33% - 10px); /* Adjust width for a 3-column layout */
  min-width: 350px; /* Set minimum width for color card */
  border: solid 1px #cfcfcf;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #a2a2a2;
}

/* Header styles for color card */
.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

/* Contrast text style */
.color-card-contrast {
  font-weight: 600; /* Bold for contrast text */
}

/* Button group styles within the color card */
.color-card-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

/* Button styles */
.color-card-button {
  margin: 2px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00000049;
}

/* Specific button styles for cancel and confirm actions */
.color-card-button-cancel {
  background-color: #cc0000;
  color: white;
  width: 100px;
  font-size: 18px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
}

/* Specific styles for 'OK' button */
.color-card-button-ok {
  background-color: #52cc00;
  color: white;
  width: 100px;
  font-size: 18px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
}

/* Color circle for visual representation */
.color-card-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Highlighted color card style */
.color-card-highlight {
  background-color: #ff0000;
  border: 3px solid #ff0000;
  box-shadow: 2px 2px 5px #000000;
  color: #000;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

/* Content area styles */
.color-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Styles for specific responses */
.color-card-yup {
  background-color: rgb(0, 208, 0);
  color: #000;
  width: 300px;
}

.color-card-nope {
  background-color: rgb(204, 0, 0);
  color: #000;
  width: 300px;
}

.color-card-kinda {
  background-color: rgb(191, 205, 0);
  color: #000;
  width: 300px;
}

/* Button positions within the card */
.button-edit,
.button-delete {
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
}
.button-delete {
  color: #cc0000;
}

.button-edit {
  right: 5px;
}

.button-delete {
  right: 10px;
}
